<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AgMaGest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AgMaGest.Properties.Settings.AgmagestConnectionString"
            connectionString="Data Source=DESKTOP-TT9O6S1\SQLEXPRESS;Initial Catalog=Agmagest;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AgMaGest.Properties.Settings>
            <setting name="UsuarioGuardado" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordarUsuario" serializeAs="String">
                <value>False</value>
            </setting>
        </AgMaGest.Properties.Settings>
    </userSettings>
</configuration>